* {
  box-sizing: border-box;
}
html,
body,
#__next {
  height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

em {
  background: cyan;
  font-style: normal;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

/* Overrides for refinements list */
.ais-CurrentRefinements-list {
  display: block;
}

.ais-CurrentRefinements-item {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
}

.ais-CurrentRefinements-label {
  font-weight: bold;
}

.ais-CurrentRefinements-category {
  align-items: center;
}
